<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title></title>
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="MainController">
      <nav class="{{active}}" ng-click="$event.preventDefault()">
        <a class="linux home" href="#" ng-click="active='linux'">
          <img class="icon" src="img/icon/linux.png"/>
          <span>Linux</span></sup>
        </a>
        <a class="win contact" href="#" ng-click="active='win'">
          <img class="icon" src="img/icon/win.png"/>
          <span>Window</span>
        </a>
        <a class="mac about" href="#" ng-click="active='mac'">
          <img class="icon" src="img/icon/mac.png">
          <span>Mac</span>
        </a>
      </nav>
      <br/>
      <input ng-model="myfilter.description" type="text" size="55" style="text-align: center" placeholder="Type in here what shortcut you need"/>
      <br/>
      <table width="200" align="center">
        <tr ng-repeat="shortcut in shortcuts.arr | filter:myfilter | orderBy:'keyCombi' | selectOs:active">
          <td width="40%">
            <span class="key" ng-repeat="key in shortcut.keyCombi">
              <kbd>{{key}}</kbd> <span ng-if="!$last">+</span>
            </span>
          </td>
          <td  width="80%">
            {{shortcut.description}}
          </td>
        </tr>
      </table>

    </div>
    <footer>
      Do you have any other shortcut to add or want to make an improvement suggestion? Drop a line here: <strong>thadeuszlay[at]gmail[dot]com</strong>
    </footer>
    <script type="text/javascript" src="angularjs/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
