<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Favorite Shortcuts & Commands</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="stylesheets/style.css" rel="stylesheet">
  </head>
  <body>
    <div ng-controller="AccordionController">
      	<div ng-controller="ShortcutController">
          <nav id="shortcutFragment">
            <a class="{{activeClass == 'linux' ? activeClass : ''}}" href="#shortcutFragment" ng-click="activateNav('linux')">
              <img class="icon" src="img/icon/linux.png"/>
              <span>Linux</span>
            </a>
            <a class="{{activeClass == 'win'? activeClass : ''}}" href="#shortcutFragment" ng-click="activateNav('win')">
              <img class="icon" src="img/icon/win.png"/>
              <span>Window</span>
            </a>
            <a class="{{activeClass == 'mac'? activeClass : ''}}" href="#shortcutFragment" ng-click="activateNav('mac')">
              <img class="icon" src="img/icon/mac.png">
              <span>Mac</span>
            </a>
          </nav>
          <br/>
          <div ng-show="activeClass == 'win' || activeClass == 'linux' || activeClass == 'mac'" ng-cloak>
            <input ng-model="myfilter.description" type="text" size="55" style="text-align: center" placeholder="Type in here what shortcut you need"/>
            <a class="clear" ng-click="myfilter.description = null">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <table width="200" align="center">
              <tr ng-repeat="shortcut in shortcuts.arr | filter:myfilter | orderBy:'keyCombi' | selectOs:activeClass">
                <td width="40%">
                  <span class="key" ng-repeat="key in shortcut.keyCombi">
                    <kbd ng-cloak>{{key}}</kbd> <span ng-if="!$last" ng-cloak>+</span>
                  </span>
                </td>
                <td width="80%" ng-cloak>
                  {{shortcut.description}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div ng-controller="GitController">
          <nav id="gitFragment">
            <a class="{{activeClass == 'git' ? activeClass : ''}}" href="#gitFragment" ng-click="activateNav('git')">
              <img class="icon" src="img/icon/git.png"/>
              <span>Git</span>
            </a>
          </nav>
          <br/>
          <div ng-show="activeClass == 'git'" ng-cloak>
            <input ng-model="myfilter.description" type="text" size="55" style="text-align: center" placeholder="Type in here what command you need"/>
            <a class="clear" ng-click="myfilter.description = null">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
            <table width="200" align="center">
              <tr ng-repeat="data in git.commands | filter:myfilter | orderBy:'command'">
                <td width="40%" style="background-color:black;" class="git" align="left">
                  <div ng-repeat="cmd in data.command" ng-cloak>
                    <span class="linuxCmd">$ </span>{{cmd}}
                  </div>
                </td>
                <td width="80%" ng-cloak>
                  {{data.description}}
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div ng-controller="TerminalController">
          <nav id="terminalFragment">
            <a class="{{activeClass == 'terminal' ? activeClass : ''}}" href="#terminalFragment" ng-click="activateNav('terminal')">
              <img class="icon" src="img/icon/Terminal.png"/>
              <span>Terminal</span>
            </a>
          </nav>
          <br/>
          <div ng-show="activeClass == 'terminal'" ng-cloak>
            <input ng-model="myfilter.description" type="text" size="55" style="text-align: center" placeholder="Type in here what command you need"/>
            <a class="clear" ng-click="myfilter.description = null">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <table width="200" align="center">
              <tr ng-repeat="data in terminal.commands | filter:myfilter | orderBy:'command'">
                <td width="40%" style="background-color:black;" class="git" align="left">
                  <div ng-repeat="cmd in data.command" ng-cloak>
                    <span class="linuxCmd">$ </span>{{cmd}}
                  </div>
                </td>
                <td width="80%" ng-cloak>
                  {{data.description}}
                </td>
              </tr>
            </table>
          </div>
        </div>
    </div>
    <footer>
      <pre>
        Do you have any other shortcut to add or want to make an improvement suggestion? Drop a line here: <strong>thadeuszlay[at]gmail[dot]com</strong>
        The project is also available on my <a href="https://github.com/thadeuszlay/angularjsonnodejs" target="_blank">Git repository</a>.&copy;<i id="copyrightYear"></i>
      </pre>
    </footer>
    <script type="text/javascript" src="lib/angular.js"></script>
    <script type="text/javascript" src="lib/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="lib/ui-bootstrap-tpls-2.5.0.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
  </body>
</html>
